<h3>
  <strong>RAMMS<icon class="glyphicon glyphicon-plus"></icon>EIN</strong> TALLINN 2017
</h3>
<hr>

<h3>{{message}}</h3>
<md-content layout="row" layout-align="space-around" layout-padding="layout-padding" ng-cloak="ng-cloak" class="login-form"  style="background-color:white">
      
      <md-card flex="flex" flex-gt-sm="50" flex-gt-md="33">
        <md-toolbar style="background-color:black">
          <div class="md-toolbar-tools">
            <h2><span>Please Login</span></h2>
            <span flex></span>
            <img src="/css/rammstein.png" height="30px" width="30px"/>
          </div>
        </md-toolbar>
        <br>
        <md-card-content>
          <form name="Form" ng-submit="login()">
            
            <md-input-container class="md-block">
              <label>Login</label>
              <input type="text" name="email" ng-model="vm.formData.email" ng-required="true"/>
              <div ng-messages="Form.email.$error">
                <div ng-message="required">This is required.</div>
              </div>
            </md-input-container>
            <br>
            <md-input-container class="md-block">
              <label>Password</label>
              <input ng-model="vm.formData.password" type="password" name="password" ng-required="true">
              <div ng-messages="Form.password.$error">
                <ng-message when="required" translate>Please enter your password</ng-message>
              </div>
            </md-input-container>

            <md-button class="md-primary" ng-disabled="!Form.$valid"  class="md-raised" type="submit" style="color:black" >&nbsp Login &nbsp</md-button>
          </form>
        </md-card-content>
      </md-card>
      
</md-content>
